<h1>Booking Details</h1>
<p>Check-in Date: <%=@booking.start_date%>
<p>Address: <%=@booking.property.address%></p>
<p>City: <%=@booking.property.city%></p>
<p>State: <%=@booking.property.state%></p>
<p>Number of Guests: <%=@booking.number_of_guests%></p>
