<h1>Property Details</h1>
<p>Location: <%=@property.full_address%></p>
<p>Max Occupancy: <%=@property.max_occupancy%></p>
<%=button_to "Book Property", new_property_booking_path(@property), :method => :get%>
<%=button_to "Booking History", property_bookings_path(@property), :method => :get%>
<%=button_to "Edit Property", edit_property_path(@property), :method => :get %>
<%=button_to "Delete Property", property_path(@property), :method => :delete %>
